[#ftl]
[#setting boolean_format="True,False"]
[#macro annModel model]
  <span class="qualified_name annotation">${model.qualifiedName}</span>
  [#if model.attributes?has_content]
	  <ul>
	  [#list model.attributes as att]
		  [#if att.value?has_content]
		  	[#if att.valueIsAnnotationModel]
		  		<li class="attribute"><span class="attributeName">${att.name}</span> = [@annModel model=att.value /]</li>
		  	[#else]
		  	 <li class="attribute"><span class="attributeName">${att.name}</span> = ${att.value}</li>
		  	[/#if]
		  [/#if]
	  [/#list]
	  </ul>
  [/#if]
  [#if model.children??]
 	<ul class="children">
  		[#list model.children as c]
	  	<li>
	  		[@annModel model=c /]
	  	</li>
  		[/#list]
  	</ul>
  [/#if]
[/#macro] 
<html>
	<head>
		<link href="${cssFile}" rel="stylesheet" type="text/css"/>
		<title>Package ${pkg.name}</title>
		<script src="${jQueryFile}"></script>
		<style>
			[#list activePlugins as ap]
				.annotation_${ap} {display: block;}
			[/#list]
		</style>
		<script type="text/javascript">
			
			function switchDisplay(target) {
				var selector = ".annotation_"+target;
				var display = $(selector).css("display");
				if(display == "block") {
					display = "none";
				} else {
					display = "block";
				}
				$(selector).css("display",display);
			}
		</script>
	</head>
	<body>
		<div class="outer">
			<h1>Package ${pkg.name}</h1>
			<div class="colLeft">
				<h2>Available plugins:</h2>
				<ul>
					[#list activePlugins as ap]
					<li>
						<label><input type="checkbox" checked="checked" onclick="switchDisplay('${ap}');return true;"/>${ap}</label>
					</li>
					[/#list]
				</ul>
				<h2>Quick jump:</h2>
				<ul>
					[#list orderedClasses as c]
						<li>
							<a href="#class_${c.qualifiedName}">${c.qualifiedName?substring(c.qualifiedName?last_index_of('.')+1)}</a>
						</li>
					[/#list]
				</ul>
			</div>
			<div class="colRight">
				<h2>Classes:</h2>
				<ul class="classes">
				[#list orderedClasses as c]
					<li>
		  		 		<h3 id="class_${c.qualifiedName}">${c.qualifiedName}</h3>
		  		 		[#if c.annotations?has_content]
			  		 		<h4>Annotations</h4>
			  		 		<ul class="annotations">
			   		 			[#list c.annotations as a]
			   		 			<li class="annotation_${a.qualifier}">
			   		 				[@annModel model=a /]
			   		 			</li>
			   		 			[/#list]
			  		 		</ul>
			  		 	[/#if]
			  		 	[#if c.fields?has_content]
					 		<h4>Fields</h4>
					 		<ul class="fields">
			   		 			[#list c.fields as f]
			   		 			<li>
			   		 				${f.type} <span class="fieldName">${f.name}</span>
			   		 				<ul class="annotations">
			   		 					[#list f.annotations as a]
			   		 					<li class="annotation_${a.qualifier}">
			   		 						[@annModel model=a /]
			   		 					</li>
			   		 					[/#list]
			   		 				</ul>
			   		 			</li>
			   		 			[/#list]
			  		 		</ul>
		  		 		[/#if]
		  		 		[#if c.methods?has_content]
			  		 		<h4>Methods</h4>
			  		 		<ul class="fields">
			   		 			[#list c.methods as m]
			   		 			<li>
			   		 				${m.returnType} <span class="fieldName">${m.name}</span>
			   		 				<ul class="annotations">
			   		 					[#list m.annotations as a]
			   		 					<li class="annotation annotation_${a.qualifier}">
			   		 						[@annModel model=a /]
			   		 					</li>
			   		 					[/#list]
			   		 				</ul>
			   		 			</li>
			   		 			[/#list]
			  		 		</ul>
		  		 		[/#if]
		   		 	</li>
				[/#list]
				</ul>
			</div>
		</div>
	</body>
</html>