[#ftl]
[#setting boolean_format="True,False"]
[#macro annModel model]
  <tr><td colspan="3">${model.qualifiedName}</td></tr>
  [#if model.attributes?has_content]
	  [#list model.attributes as att]
		  [#if att.value?has_content]
		  	<tr><td></td>
		  	[#if att.valueIsAnnotationModel]
		  		<td>${att.name}</td> <td><table>[@annModel model=att.value /]</table></td>
		  	[#else]
		  	 <td>${att.name}</td> <td>${att.value}</td>
		  	[/#if]
		  	</tr>
		  [/#if]
	  [/#list]
  [/#if]
  [#if model.children??]
  		[#list model.children as c]
  		<tr><td colspan="3">
	  	<table>
	  		[@annModel model=c /]
	  	</table>
	  	</td></tr>
  		[/#list]
  [/#if]
[/#macro] 
<html>
	<head>
		<link href="${cssFile}" rel="stylesheet" type="text/css"/>
		<title>Package ${pkg.name}</title>
	</head>
	<body>
		<h1>Package ${pkg.name}</h1>
		<h2>Classes:</h2>
		<table>
			[#list pkg.classes as c]
				<tr><td colspan="3">${c.qualifiedName}</td></tr>
				[#if c.annotations?has_content]
	  		 		<tr><td colspan="3">Annotations</td></tr>
  		 			[#list c.annotations as a]
  		 				[@annModel model=a /]
  		 			[/#list]
	  		 	[/#if]
	  		 	[#if c.fields?has_content]
	  		 		<tr><td colspan="3">Fields</td></tr>
  		 			[#list c.fields as f]
  		 			<tr>
  		 				<td></td>
  		 				<td>${f.name}</td>
  		 				<td>
  		 				[#list f.annotations as a]
  		 				<table>
  		 					[@annModel model=a /]
  		 				</table>
  		 				[/#list]
  		 				</td>
  		 			</tr>
  		 			[/#list]
	  		 	[/#if]
	  		 	[#if c.methods?has_content]
	  		 		<tr><td colspan="3">Fields</td></tr>
  		 			[#list c.methods as m]
  		 			<tr>
  		 				<td></td>
  		 				<td>${m.name}</td>
  		 				<td>
  		 				[#list m.annotations as a]
  		 				<table>
  		 				[@annModel model=a /]
  		 				</table>
  		 				[/#list]
  		 				</td>
  		 			</tr>
  		 			[/#list]
	  		 	[/#if]
			[/#list]
		</table>
	</body>
</html>