[#ftl]
[#setting boolean_format="True,False"]
[#macro annModel model]
  <span class="autodoc qualified_name">${model.qualifiedName}</span>
  [#if model.attributes?has_content]
	  <ul class="autodoc attributes">
	  [#list model.attributes as att]
		  [#if att.value?has_content]
		  	[#if att.valueIsAnnotationModel]
		  		<li><span class="fieldName">${att.name}</span> = [@annModel model=att.value /]</li>
		  	[#else]
		  	 <li class="autodoc"><span class="fieldName">${att.name}</span> = ${att.value}</li>
		  	[/#if]
		  [/#if]
	  [/#list]
	  </ul>
  [/#if]
  [#if model.children??]
 	<ul class="autodoc children">
  		[#list model.children as c]
	  	<li class="autodoc annotation">
	  		[@annModel model=c /]
	  	</li>
  		[/#list]
  	</ul>
  [/#if]
[/#macro] 
<html>
	<head>
		<link href="${cssFile}" rel="stylesheet" type="text/css"/>
		<title>Package ${pkg.name}</title>
	</head>
	<body>
		<h2>Classes:</h2>
		<ul class="autodoc classes">
		[#list pkg.classes as c]
			<li>
  		 		<h3>${c.qualifiedName}</h3>
  		 		[#if c.annotations?has_content]
	  		 		<h4>Annotations</h4>
	  		 		<ul class="autodoc annotations">
	   		 			[#list c.annotations as a]
	   		 			<li class="autodoc annotation">
	   		 				[@annModel model=a /]
	   		 			</li>
	   		 			[/#list]
	  		 		</ul>
	  		 	[/#if]
	  		 	[#if c.fields?has_content]
			 		<h4>Fields</h4>
			 		<ul class="autodoc fields">
	   		 			[#list c.fields as f]
	   		 			<li>
	   		 				<span class="autodoc fieldName">${f.name}</span>
	   		 				<ul class="autodoc annotations">
	   		 					[#list f.annotations as a]
	   		 					<li class="autodoc annotation">
	   		 						[@annModel model=a /]
	   		 					</li>
	   		 					[/#list]
	   		 				</ul>
	   		 			</li>
	   		 			[/#list]
	  		 		</ul>
  		 		[/#if]
  		 		[#if c.methods?has_content]
	  		 		<h4>Methods</h4>
	  		 		<ul class="autodoc fields">
	   		 			[#list c.methods as m]
	   		 			<li>
	   		 				<span class="autodoc fieldName">${m.name}</span>
	   		 				<ul class="autodoc annotations">
	   		 					[#list m.annotations as a]
	   		 					<li class="autodoc annotation">
	   		 						[@annModel model=a /]
	   		 					</li>
	   		 					[/#list]
	   		 				</ul>
	   		 			</li>
	   		 			[/#list]
	  		 		</ul>
  		 		[/#if]
   		 	</li>
		[/#list]
		</ul>
	</body>
</html>